.fpc-dropdownpanel {
    position: absolute;
    top: 60rem;
    display: flex;
}
.fpc-right-row {
    font-size: 17rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-right: 15rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(128, 128, 128, 0.5);
        border-radius: 3rem;
    }
}

.focusable_GEc {
    
   
}

.item-focused_FuT {
   
}
