.fpcc-info-label {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 26rem;
    font-weight: bold;
    white-space: normal;
    text-align: center;
}
.fpcc-info-data {
    text-align: center;
    font-size: 22rem;
}
.fpcc-info-group{
    padding-left:30rem;
    padding-right:30rem;
}
