.firstpersoncameracontinued_strippanel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.fpcc-stopstrip-container {
    padding-top: 30rem;
    padding-bottom: 35rem;
    background-color: var(--panelColorDark);
    backdrop-filter: var(--panelBlur);
    display: flex;
    justify-content: center;
    width: 100%;
}

.fpcc-stopstrip-progress-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1700rem;
    margin: 0 auto;
    width: 100%;
}

.fpcc-stopstrip-progress-bar-container {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 9rem;
    padding-left: 75rem;
    padding-right: 75rem;
    z-index: 1;
}

.fpcc-stopstrip-progress-bar {
    height: 10rem;
    width: 100%;
}

.fpcc-stopstrip-station {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    flex: 1;
    min-width: 80rem;
    max-width: 160rem;
    padding: 0 5rem;
}

.fpcc-stopstrip-station-dot {
    width: 28rem;
    height: 28rem;
    background-color: white;
    border: 5rem solid #000;
    border-radius: 50%;
    box-sizing: content-box;
    will-change: background-color;
    flex-shrink: 0;

    &.blink-red {
        background-color: #ff0000;
    }
}

.fpcc-stopstrip-station-name {
    color: var(--textColorDim);
    font-size: 22rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    height: 48rem;
    margin-top: 8rem;
    white-space: pre-line;
    text-shadow: 0px 0px 35rem rgba(0, 0, 0, 0.85);
}
